*/*/build
Cpp00/ex00/megaphone
Cpp00/ex01/phonebook
Cpp00/ex02/account
Cpp01/ex00/brainzzz
Cpp01/ex01/morebrainzzz
Cpp01/ex02/hiThisIsBrain
Cpp01/ex03/unnecessaryViolence
Cpp01/ex04/sedIsForLosers
Cpp01/ex05/harl
Cpp01/ex06/harlFilter
Cpp02/ex00/fixed
Cpp02/ex01/fixed
Cpp02/ex01/fixed
Cpp02/ex02/fixed
Cpp02/ex03/bsp
Cpp03/ex00/ClapTrap
Cpp03/ex01/ScavTrap
Cpp03/ex02/FragTrap
Cpp03/ex03/DiamondTrap
Cpp04/ex00/ex00
Cpp04/ex01/ex01
Cpp04/ex02/ex02
Cpp04/ex03/ex03
Cpp05/ex00/Bureaucrat
Cpp05/ex01/Form
